  <nav class="navbar navbar-expand-lg  navbar-dark py-3 mb-4">
  <div class="container">
    <a class="navbar-brand" href="#"><h3 class=" fw-bold text-white head px-3" onclick="location.href='/services'">Event Management</h3></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
         <li class="nav-item">
          <a class="nav-link"  href="/services"><h5>Home</h5></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="/serviceProvider/booking"><h5>ViewBooking</h5></a>
        </li>
         <li class="nav-item">
          <a class="nav-link"  href="/serviceProvider/addedservices"><h5>ServiceAdded</h5></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="/signOut"><h5>SignOut</h5></a>
        </li>
      </ul>
    </div>
  </div>
</nav>