<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="VenueForm.css">
    <title>Document</title>
</head>
<body>
    <div class="container mt-4 mb-4">
        <div class="row">
       <div class="col-lg-5 m-auto border p-3">
<form action="/decoration" method="post">
<h1 class="text-center">Fill InvitationCard Fields</h1>
<div id="Event_Type" class="data" onchange="main()">
<label>
<strong>
    Event Type
</strong>
</label>
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="Wedding" name="Event_type" id="Wedding">
    <label class="form-check-label mb-2">
    Wedding
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="Birthday" name="Event_type" id="Birthday">
    <label class="form-check-label mb-2">
    Birthday
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="Anniversary" name="Event_type" id="Anniversary">
    <label class="form-check-label mb-2">
    Anniversary
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="Religious Events" name="Event_type" id="ReligiousEvents">
    <label class="form-check-label mb-2">
        Religious Events
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="Corporate Events (e.g., Product Launch, Conference, etc.)" name="Event_type" id="CorporateEvents">
    <label class="form-check-label mb-2">
        Corporate Events (e.g., Product Launch, Conference, etc.)
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="Other" name="Event_type" id="Other">
    <label class="form-check-label mb-2">
    Other
    </label>
  </div>
  <!-- <div class="form-check">
    <input class="form-check-input" type="checkbox" value="Retirement Party" name="Event_type" id="RetirementParty">
    <label class="form-check-label mb-2" for="preparationJain">
    Retirement Party
    </label>
  </div> -->
</div>
<div id="DesignStyle" class="data" onchange="main()">
  <label>
    <strong>
        Design Style
    </strong>
  </label>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="Classic and Elegant" name="DesignStyle" id="Classic">
    <label class="form-check-label mb-2" for="preparationJain">
        Classic and Elegant
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="Modern and Minimalistic" name="DesignStyle" id="Modern">
    <label class="form-check-label mb-2" for="preparationJain">
        Modern and Minimalistic
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="Floral and Whimsical" name="DesignStyle" id="Floral">
    <label class="form-check-label mb-2" for="preparationJain">
        Floral and Whimsical
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="Rustic" name="DesignStyle" id="Rustic">
    <label class="form-check-label mb-2" for="preparationJain">
    Rustic
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="Vintage" name="DesignStyle" id="Vintage">
    <label class="form-check-label mb-2" for="preparationJain">
        Vintage
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="Formal" name="DesignStyle" id="Formal">
    <label class="form-check-label mb-2" for="preparationJain">
        Formal
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="Fun and Playful" name="DesignStyle" id="Fun">
    <label class="form-check-label mb-2" for="preparationJain">
        Fun and Playful
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="Custom " name="DesignStyle" id="Custom ">
    <label class="form-check-label mb-2" for="preparationJain">
        Custom 
    </label>
  </div>
  </div>

  <div id="CardFormat" class="data" onchange="main()">
  <label>
    <strong>
        Card Format
    </strong>
  </label>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="Flat Card" name="CardFormat" id="FlatCard">
    <label class="form-check-label mb-2" for="preparationJain">
        Flat Card
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="Folded Card" name="CardFormat" id="FoldedCard">
    <label class="form-check-label mb-2" for="preparationJain">
        Folded Card
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="Pocket Fold" name="CardFormat" id="PocketFold">
    <label class="form-check-label mb-2" for="preparationJain">
        Pocket Fold
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="Scroll" name="CardFormat" id="Scroll">
    <label class="form-check-label mb-2">
        Scroll
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="Digital/Electronic Invitation" name="CardFormat" id="DigitalInvitation">
    <label class="form-check-label mb-2">
        Digital/Electronic Invitation  
    </label>
  </div>
  </div>

  <label>
    <strong>
    Price
    </strong>
  </label>
  <input class="form-control mb-2 price" type="text" placeholder="" name="VenueTypePrice" onblur="priceValidation()"aria-label="default input example"> 
  <span class="text-danger span" id="VenueTypePrice">*please enter a valid price</span>
  

  <!-- <div id="VenueSize" class="data" onchange="main()">
  <label>
    <strong>
        Venue Size
    </strong>
  </label>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="Small" name="VenueSize" id="Small">
    <label class="form-check-label mb-2" for="preparationJain">
    Small
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="Medium" name="VenueSize" id="Medium">
    <label class="form-check-label mb-2" for="preparationJain">
    Medium
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="Large" name="VenueSize" id="Large">
    <label class="form-check-label mb-2" for="preparationJain">
    Large
    </label>
  </div>
  <label>
    <strong>
    Price
    </strong>
  </label>
  <input class="form-control mb-2 price" type="text" placeholder="" name="VenueTypePrice" onblur="priceValidation()"aria-label="default input example"> 
  <span class="text-danger span" id="VenueTypePrice">*please enter a valid price</span>
  </div>
  <div id="Flowers" class="data" onchange="main()">
  <label>
    <strong>
        Flowers
    </strong>
  </label>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="Yes" name="Flowers" id="Flowers_yes">
    <label class="form-check-label mb-2" for="preparationJain">
    Yes
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="No" name="Flowers" id="Flowers_No">
    <label class="form-check-label mb-2" for="preparationJain">
    No
    </label>
  </div>
  <label>
    <strong>
    Price
    </strong>
  </label>
  <input class="form-control mb-2 price" type="text" placeholder="" name="FlowersPrice" onblur="priceValidation()"aria-label="default input example"> 
  <span class="text-danger span" id="FlowersPrice">*please enter a valid price</span>
  </div>
  <div id="Candles" class="data" onchange="main()">
  <label>
    <strong>
        Candles
    </strong>
  </label>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="Yes" name="Candles" id="Candles_Yes">
    <label class="form-check-label mb-2">
    Yes
    </label>   
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="No" name="Candles" id="Candles_No">
    <label class="form-check-label mb-2" for="preparationJain">
    No
    </label>   
  </div>
  <label>
    <strong>
    Price
    </strong>
  </label>
  <input class="form-control mb-2 price" type="text" placeholder="" name="CandlesPrice" onblur="priceValidation()"aria-label="default input example"> 
  <span class="text-danger span" id="CandlesPrice">*please enter a valid price</span>
  </div>
  <div id="Vases" class="data" onchange="main()">
  <label>
    <strong>
        Vases
    </strong>
  </label>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="Yes" name="Vases" id="Vases_Yes">
    <label class="form-check-label mb-2" for="preparationJain">
    Yes
    </label>   
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="No" name="Vases" id="Vases_No">
    <label class="form-check-label mb-2" for="preparationJain">
    No
    </label>   
  </div>
  <label>
    <strong>
    Price
    </strong>
  </label>
  <input class="form-control mb-2 price" type="text" placeholder="" name="VasesPrice" onblur="priceValidation()"aria-label="default input example"> 
  <span class="text-danger span" id="VasesPrice">*please enter a valid price</span>
  </div>
  <div id="Lighting" class="data" onchange="main()">
  <label>
    <strong>
        Lighting
    </strong>
  </label>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="Ambient Lighting" name="Lighting" id="AmbientLighting">
    <label class="form-check-label mb-2">
    Ambient Lighting
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="Accent Lighting" name="Lighting" id="AccentLighting">
    <label class="form-check-label mb-2" for="preparationJain">
    Accent Lighting
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="Task Lighting" name="Lighting" id="TaskLighting">
    <label class="form-check-label mb-2" for="preparationJain">
    Task Lighting
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="Chandeliers" name="Lighting" id="Chandeliers">
    <label class="form-check-label mb-2">
    Chandeliers
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="String Lights" name="Lighting" id="StringLights">
    <label class="form-check-label mb-2" for="preparationJain">
    String Lights
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="Uplighting" name="Lighting" id="Uplighting">
    <label class="form-check-label mb-2" for="preparationJain">
    Uplighting
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="Fairy Lights" name="Lighting" id="FairyLights">
    <label class="form-check-label mb-2" for="preparationJain">
    Fairy Lights
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="Spotlights" name="Lighting" id="Spotlights">
    <label class="form-check-label mb-2" for="preparationJain">
    Spotlights
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="Colored Lighting" name="Lighting" id="ColoredLighting">
    <label class="form-check-label mb-2" for="preparationJain">
    Colored Lighting
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="Candlelight" name="Lighting" id="Candlelight">
    <label class="form-check-label mb-2">
    Candlelight
    </label>
  </div>
  <label>
    <strong>
    Price
    </strong>
  </label>
  <input class="form-control mb-2 price" type="text" placeholder="" name="LightingPrice" onblur="priceValidation()"aria-label="default input example"> 
  <span class="text-danger span" id="LightingPrice">*please enter a valid price</span>
</div>
  <div id="TableClothes" class="data" onchange="main()">
  <label>
    <strong>
        TableClothes
    </strong>
  </label>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="Yes" name="TableClothes" id="TableClothes_Yes">
    <label class="form-check-label mb-2" for="preparationJain">
    Yes
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="No" name="TableClothes" id="TableClothes_No">
    <label class="form-check-label mb-2" for="preparationJain">
    No
    </label>
  </div>
  <label>
    <strong>
    Price
    </strong>
  </label>
  <input class="form-control mb-2 price" type="text" placeholder="" name="TableClothesPrice" onblur="priceValidation()"aria-label="default input example"> 
  <span class="text-danger span" id="TableClothesPrice">*please enter a valid price</span>
</div>
  <div id="ChairCovers" class="data" onchange="main()">
  <label>
    <strong>
        Chair Covers
    </strong>
  </label>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="Yes" name="Chair_Covers" id="Chair_Covers_Yes">
    <label class="form-check-label mb-2" for="preparationJain">
        Yes
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="No" name="Chair_Covers" id="Chair_Covers_No">
    <label class="form-check-label mb-2" for="preparationJain">
        No
    </label>
  </div>
  <label>
    <strong>
    Price
    </strong>
  </label>
  <input class="form-control mb-2 price" type="text" placeholder="" name="Chair_CoversPrice" onblur="priceValidation()"aria-label="default input example"> 
  <span class="text-danger span" id="Chair_CoversPrice">*please enter a valid price</span>
</div>
  <div id="Napkins" class="data" onchange="main()">
  <label>
    <strong>
        Napkins
    </strong>
  </label>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="Yes" name="Napkins" id="Napkins_Yes">
    <label class="form-check-label mb-2" for="preparationJain">
        Yes
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="No" name="Napkins" id="Napkins_No">
    <label class="form-check-label mb-2">
        No
    </label>
  </div>
  <label>
    <strong>
    Price
    </strong>
  </label>
  <input class="form-control mb-2 price" type="text" placeholder="" name="NapkinsPrice" onblur="priceValidation()"aria-label="default input example"> 
  <span class="text-danger span" id="NapkinsPrice">*please enter a valid price</span>
</div>
  <div id="Sitting" class="data" onchange="main()">
  <label>
    <strong>
       Sitting Arrangements
    </strong>
  </label>
 
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="Chairs and Tables" name="Sitting_Arrangements" id="ChairsTables">
    <label class="form-check-label mb-2" for="preparationJain">
    Chairs and Tables
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="Sofa and Tables" name="Sitting_Arrangements" id="SofaTables">
    <label class="form-check-label mb-2" for="preparationJain">
   Sofa and Tables
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="Chairs and Table and Sofa" name="Sitting_Arrangements" id="ChairsTableSofa">
    <label class="form-check-label mb-2" for="preparationJain">
    Chairs and Table and Sofa
    </label>
  </div>
  <label>
    <strong>
    Price
    </strong>
  </label>
  <input class="form-control mb-2 price" type="text" placeholder="" name="SittingPrice" onblur="priceValidation()"aria-label="default input example"> 
  <span class="text-danger span" id="SittingPrice">*please enter a valid price</span>
</div> -->
<div class="savebtn text-center ">
  <button type="submit" onclick="return validation()" class="btn btn-primary savebtn w-50 mt-4">Submit</button>
</div>
</div>
</div>
</div>
</form>
<script src="DecorationForm.js"></script>
</body>
</html>