.cardsdiv
{
display:flex;
}
th,td
{
border:1px solid lightgrey;
text-align: center;
}
.addServiceForm
{
padding-top:90px;
}
.mainDiv 
{
    background-image: url(../Images/footerBackground.jpeg);
background-size:cover;
border:1px solid black; 
border-radius:5px;
margin:auto;
}
.body
{
    cursor:pointer;
}